.cursor-grid {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cursor-grid__canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.cursor-grid, .cursor-grid__canvas { user-select: none; -webkit-user-select: none; pointer-events: none; }
